<link rel='stylesheet' href='./detail_header.css' />
<header class="header">
  <div class="header-inner inner">
    <h1 class="header-title"><a href="https://w3id.org/tvstationjp/">テレビ局LOD</a></h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a class="header-nav-item-link" href="https://w3id.org/tvstationjp/#entities">Entities</a></li>
        <li class="header-nav-item"><a class="header-nav-item-link" href="https://w3id.org/tvstationjp/#schema">Schema</a></li>
        <li class="header-nav-item"><a class="header-nav-item-link" href="https://w3id.org/tvstationjp/#about">About</a></li>
      </ul>
    </nav>
  </div>
</header>